body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* reset default settings */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

/* container */
.container {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* logo */
.logo-web {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-studio {
    color: #2E2F42;

}

/* navigation menu */

.menu-nav {
    display: flex;
    flex-basis: 261px;
    justify-content: center;

}

.menu-nav-item {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-nav-item:hover {
    color: #404BBF;
}

.menu-nav-item:active {
    color: #404BBF;
}

.menu-nav-item:focus {
    color: #404BBF;
}

.menu-nav-address {
    font-style: normal;
}

.menu-nav-address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-nav-address-link:hover {
    color: #404BBF;
}

.menu-nav-address-link:focus {
    color: #404BBF;
}

/* Section 0 */
.first-section-head {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.first-section {
    background-color: #2E2F42;
}

.first-section-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.first-section-button:hover {
    background-color: #404BBF;
}

.first-section-button:focus {
    background-color: #404BBF;
}

/* section 2 Our Goals */
.our-goals {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-goals-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/* section 3 */
.third-section {
    background-color: #f4f4fd;
}

.our-team {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-team-members {
    background-color: #FFFFFF;

}

.members-name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.members-position {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* section 4 */

.our-portfolio {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-app {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.app-description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer */
.footer-logo {
    background-color: #2E2F42;
}

.logo-studio-footer {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}